@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter/Inter-VariableFont.ttf);
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --cal-poly-pomona-green: #1c4825;
  --tea-green: #dbffc8;
  --transparent-white: #fffc;
  --mint-green: #b0ff8b;
  --phthalo-green: #17331c;
  --white: #fff;
  --eerie-black: #181818;
  --dark-charcoal: #2e2e2e;
  --deep-moss-green: #316438;
  --light-silver: #cfe5d2;
  --cultured: #f7f9f8;
  --menthol: #cfff92;
  --honeydew: #efffe5;
  --nickel: #727272;
  --silver-chalice: #adadad;
  --eucalyptus: #2cee91;
  --vampire-black: #0b0b0b;
  --silver-chalice: #adadad;
  --philippine-gray: #8a8a8a;
  --lotion: #fbfcfb;
  --font-inter-local: "Inter", sans-serif;
  --font-roboto-local: "Roboto", sans-serif;
}

.bg-cal-poly-pomona-green {
  background-color: var(--cal-poly-pomona-green) !important;
}

.bg-cultured {
  background-color: var(--cultured) !important;
}

.bg-dark-charcoal {
  background-color: var(--dark-charcoal) !important;
}

.bg-deep-moss-green {
  background-color: var(--deep-moss-green) !important;
}

.bg-eerie-black {
  background-color: var(--eerie-black) !important;
}

.bg-eucalyptus {
  background-color: var(--eucalyptus) !important;
}

.bg-honeydew {
  background-color: var(--honeydew) !important;
}

.bg-light-silver {
  background-color: var(--light-silver) !important;
}

.bg-menthol {
  background-color: var(--menthol) !important;
}

.bg-mint-green {
  background-color: var(--mint-green) !important;
}

.bg-nickel {
  background-color: var(--nickel) !important;
}

.bg-philippine-gray {
  background-color: var(--philippine-gray) !important;
}

.bg-phthalo-green {
  background-color: var(--phthalo-green) !important;
}

.bg-silver-chalice {
  background-color: var(--silver-chalice) !important;
}

.bg-tea-green {
  background-color: var(--tea-green) !important;
}

.bg-transparent-white {
  background-color: var(--transparent-white) !important;
}

.bg-vampire-black {
  background-color: var(--vampire-black) !important;
}

.text-cal-poly-pomona-green {
  color: var(--cal-poly-pomona-green) !important;
}

.text-cultured {
  color: var(--cultured) !important;
}

.text-dark-charcoal {
  color: var(--dark-charcoal) !important;
}

.text-deep-moss-green {
  color: var(--deep-moss-green) !important;
}

.text-eerie-black {
  color: var(--eerie-black) !important;
}

.text-eucalyptus {
  color: var(--eucalyptus) !important;
}

.text-honeydew {
  color: var(--honeydew) !important;
}

.text-light-silver {
  color: var(--light-silver) !important;
}

.text-menthol {
  color: var(--menthol) !important;
}

.text-mint-green {
  color: var(--mint-green) !important;
}

.text-nickel {
  color: var(--nickel) !important;
}

.text-philippine-gray {
  background-color: var(--philippine-gray) !important;
}

.text-phthalo-green {
  color: var(--phthalo-green) !important;
}

.text-silver-chalice {
  color: var(--silver-chalice) !important;
}

.text-tea-green {
  color: var(--tea-green) !important;
}

.text-transparent-white {
  color: var(--transparent-white) !important;
}

.text-vampire-black {
  color: var(--vampire-black) !important;
}

.font-inter {
  font-family: var(--font-inter-local) !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fs-14 {
  font-size: 14px !important;
}

@media screen and (max-width: 576px) {
  .fs-sm-14 {
    font-size: 14px !important;
  }
}

.border-light-silver {
  border: 1px solid var(--light-silver) !important;
}

.border-silver-chalice {
  border: 1px solid var(--silver-chalice) !important;
}

.border-honeydew {
  border: 1px solid var(--honeydew) !important;
}

.border-nickel {
  border: 1px solid var(--nickel) !important;
}

.border-philippine-gray {
  border: 1px solid var(--philippine-gray) !important;
}

@media screen and (min-width: 992px) {
  .border-lg-0 {
    border: none !important;
  }
}

.max-w-500 {
  max-width: 500px !important;
}

@media screen and (min-width: 768px) {
  .max-w-md-500 {
  max-width: 500px !important;
}
}

@media screen and (min-width: 992px) {
  .rounded-lg-pill {
    border-radius: var(--bs-border-radius-pill) !important;
  }
}

body {
  color: var(--dark-charcoal) !important;
  font-family: var(--font-inter-local) !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

a {
  text-decoration: none !important;
}

ul>li {
  list-style: none;
}

.section {
  padding: 64px 0px;
}

.cursor-pointer {
  cursor: pointer !important;
}

/****************************** PRIMARY AND SECONDARY BTN *****************************/

.navbar-nav .nav-link.active {
  background-color: var(--tea-green) !important;
}

.nav-btn {
  transition: all 0.4s ease !important;
}

.nav-btn:hover {
  transform: scale(1.07);
}

.nav-btn-2,
.nav-btn-2-arrow {
  transition: all 0.2s ease !important;
}

.nav-btn {
  text-align: center;
  flex-grow: 1;
}

.nav-btn-2:hover {
  transform: translateX(5px);
}

.nav-btn-2:hover .nav-btn-2-arrow {
  transform: rotate(-45deg);
}

/***************************** HEADER CSSS *****************************/

.company-logo {
  max-width: 142px;
}

@media screen and (min-width: 768px) {
  .company-logo {
    max-width: 180px;
  }
}

@media screen and (min-width: 992px) {
  .company-logo {
    max-width: 200px;
  }
}

/******************************** Our team ***************************/

.section-member {
  padding: 4px;
}

.member-image,
.social-link-wrapper {
  transition: all 0.4s ease;
}

.section-member:hover .member-image {
  transform: scale(1.1);
}

.section-member:hover .social-link-wrapper {
  transform: translateX(-100%);
}

/************************************ HowWeWork  **************************/
.worker-image {
  width: 58px;
}

/*************************************Consulation *****************************/

.main-container {
  height: 580px;
  width: 100%;
}

.man-image {
  right: 0;
  top: -7%;
  width: 50%;
}

.sub-title-line {
  width: 42px;
  height: 1px;
  padding: 0.8px;
  border-radius: 8px;
  background-color: var(--deep-moss-green);
}

/****************************************** Service Image **************************************/

.service-img {
  transition: transform 0.4s ease;
}

.service-section:hover .service-img {
  transform: scale(1.1);
}

/***************************************** Project ***************************************/

.project-img {
  transition: transform 0.4s ease;
}

.project-section:hover .project-img {
  transform: scale(1.1);
}

/******************************************** Our Shop ********************************************/

/* .shop-image {
  overflow: hidden;
}

.shop-img {
  transition: transform 0.4s ease;
  display: block;
  width: 100%;
}

.shop-section:hover .shop-img {
  transform: scale(1.1);
}

.shop-text a {
  color: var(--deep-moss-green);
  font-size: 18px;
}

.cart-icon {
  background-color: var(--tea-green);
  padding: 10px;
} */

/************************************************** Our Blog *********************************/

.blog-img {
  transition: transform 0.4s ease;
}

.blog-section:hover .blog-img {
  transform: scale(1.1);
}